@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Megrim&display=swap');
.tituloprincipal{
    font-family: 'Megrim', cursive;
    color: gainsboro;
    font-size: 2.5em;
    display:flex;
    justify-content: center;
    padding-top: 10px;
    align-items: center;
    width: 100%;
    margin-top: 120px;
        
}

.menuinicial ul{
    color: gainsboro;
    display: flex;
    justify-content: center; 

}

.menuinicial ul li{
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
    list-style: none;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace
    
}

 body{ background-color: rgb(95, 2, 83);
    
       
 }

 