@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Megrim&display=swap');

.tituloprincipal {
  font-family: 'Megrim', cursive;
  color: gainsboro;
  font-size: 8em;
  display:flex;
  justify-content: center;
  padding-top: 10px;
  align-items: center;
  width: 100%;
}

#conteiner-home {
  display: flex;
}

#conteiner-home, #minha-jornada, #projetos, #habilidades, #contatos{
  height: 100vh;
}

#minha-jornada, #habilidades {
  background-color: gold;   
}

#minha-jornada {
  display: flex;
  align-items: center;
  justify-content:space-evenly;
  text-align: justify;
  padding-top: 30px; 
}

#paragrafo-minha-jornada {
  width: 500px;
  line-height: 30px;
  font-family: 'Sacramento', cursive;
  font-size: 2em;
}

.minhafoto { 
  border: black solid 1px; 
  width: 300px; 
  border-radius: 5%;
}

.menuinicial ul {
  color: gainsboro;
  display: flex;
  justify-content: space-around;  
}

.menuinicial {
  height: 50px;
  background-color:  hsl(0deg 0% 0% / 23%);
  padding-top: 10px;
  position: fixed;
  top: 0;
  width: 100%;
}

.menuinicial ul li {
  padding-top: 10px;
  padding-left: 50px;
  padding-right: 50px;
  list-style: none;
  font-weight: bolder;
  font-family: 'Courier New', Courier, monospace;  
}

.menuinicial ul li a {
  color:gainsboro;
  text-decoration: none;
}

a:hover {
  color: rgb(223, 219, 20)!important;
  cursor: pointer;   
}

body { 
  background-color: rgb(95, 2, 83);      
}

footer{
  color: white;
  text-align: center;
  padding-bottom: 10px;
}

#projetos {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center; 
}

.imagem-project {
  width: 300px;
  height: 200px;
  border-radius: 5%;  
}

#habilidades {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
}

.icones-habilidades {
  width: 200px;
  height: 200px;
}

#contatos {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
}

.icones-contatos {
  width: 200px;
  height: 200px;
} 
